*{
    margin: 0;
}
body{
    background-color: #1F1F1F;
  }
.main1{
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: auto auto auto auto 500px auto auto auto auto auto auto;
    grid-template-areas:
    "a1 a1 a1 a1 a1 a1 a2 a2 a2 a2 a2 a2"
    "a3 a3 a3 a3 a3 a3 a4 a4 a4 a4 a4 a4"
    "a5 a5 a5 a5 a5 a5 a5 a5 a5 a5 a5 a5"
    "a6 a6 a6 a6 a6 a6 a6 a6 a6 a6 a6 a6"
    "a7 a7 a7 a7 a7 a7 a8 a8 a8 a8 a8 a8"
    "a9 a9 a9 a9 a9 a9 a9 a9 a9 a9 a9 a9"
    "b1 b1 b1 b1 b1 b1 b2 b2 b2 b2 b2 b2"
    "b1 b1 b1 b1 b1 b1 b2 b2 b2 b2 b2 b2"
    "b3 b3 b3 b3 b3 b3 b4 b4 b4 b4 b4 b4"
    "b3 b3 b3 b3 b3 b3 b4 b4 b4 b4 b4 b4"
    "b5 b5 b5 b5 b5 b5 b5 b5 b5 b5 b5 b5"
    ;
}
.a1{
    grid-area: a1;
}
.ty2{
    margin-top: 50px;
    margin-left: 50px;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  font-family: 'Alex Brush', cursive;
  }
  .ty3{
    font-weight: 300;
  font-size: 25.4046px;
  line-height: 38px;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  margin-top: 200px;
  margin-left: 50px;
  }
  .ty{
  width: 400px;
  font-weight: 600;
  font-size: 67.1051px;
  line-height: 101px;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  margin-left: 50px;
  }
  .ty4{
    font-weight: 300;
  font-size: 19.8893px;
  line-height: 30px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  margin-left: 50px;
  }
  .ty5{
    background: linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%);
  border-radius: 10px;
  width: 277.99px;
  height: 71.95px;
  font-weight: 400;
  font-size: 25.4046px;
  line-height: 38px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  margin-left: 50px;
  margin-top: 20px;
  }
  .ty6{
    display: flex;
    list-style: none;
    margin-left: 50px;
    margin-top: 100px;
  }
  .ty6 li{
    width: 114px;
    height: 41px;
    font-weight: 400;
  font-size: 40.1478px;
  line-height: 41px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-right: 50px;
  }
.a2{
    grid-area: a2;
    padding-left: 50px;
    background-image: url(./unsplash_OhKElOkQ3RE.png);
    width: 560px;
    height: 800px;
    background-size: cover;
    margin-left: 70px;
}
.tt1{
    display: flex;
    list-style: none;
    margin-top: 50px;
}
.q1 a{
    font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
font-family: 'Poppins', sans-serif;
text-decoration: none;
}
.q2 a{
    font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #989898;
text-decoration: none;
font-family: 'Poppins', sans-serif;
margin-left: 40px;
}
.q3 a{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #989898;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
}
.q4 a{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #989898;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
}
@media (max-width: 700px) {
    .main1 {
        display: grid;
        grid-template-columns: 0.5fr;
        grid-template-rows:0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "a2 a2 a2 a2 a2 a2 a2 a2 a2 a2 a2 a2"
        "a1 a1 a1 a1 a1 a1 a1 a1 a1 a1 a1 a1"
        "a3 a3 a3 a3 a3 a3 a3 a3 a3 a3 a3 a3"
        "a4 a4 a4 a4 a4 a4 a4 a4 a4 a4 a4 a4"
        "a5 a5 a5 a5 a5 a5 a5 a5 a5 a5 a5 a5"
        "a6 a6 a6 a6 a6 a6 a6 a6 a6 a6 a6 a6"
        "a7 a7 a7 a7 a7 a7 a7 a7 a7 a7 a7 a7"
        "a8 a8 a8 a8 a8 a8 a8 a8 a8 a8 a8 a8"
        "a9 a9 a9 a9 a9 a9 a9 a9 a9 a9 a9 a9"
        "b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1"
        "b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2"
        "b3 b3 b3 b3 b3 b3 b3 b3 b3 b3 b3 b3"
        "b4 b4 b4 b4 b4 b4 b4 b4 b4 b4 b4 b4"
        "b5 b5 b5 b5 b5 b5 b5 b5 b5 b5 b5 b5"
        ;
    }
  }/*# sourceMappingURL=exam4.css.map */
.a3{
    grid-area: a3;
}
.ph{
    margin-top: 100px;
    margin-left: 160px;
}
.nn2{
    margin-left: 30px;
}
.a4{
    margin-top: 100px;
    grid-area: a4;
}
.rt1{
    margin-left: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    
    color: #FFFFFF;
    width: 530px;
height: 132px;  
font-weight: 400;
font-size: 110px;
line-height: 132px;
color: #FFFFFF;
font-family: 'Anton', sans-serif;
}
.rt2{
    margin-left: 90px;
    width: 643px;
height: 132px;
font-weight: 400;
font-size: 110px;
line-height: 132px;
color: #5199FF;
font-family: 'Anton', sans-serif;
}
.rt3{
    margin-left: 60px;
    width: 521.3px;
height: 211.4px;
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.05em;
text-transform: capitalize;
color: #FFFFFF;
}
.a5{
    margin-left: 50px;
    margin-top: 50px;
    padding-left: 100px;
    grid-area: a5;
}
.a6{
    justify-content: center;
    text-align: center;
    margin-left: 50px;
    grid-area: a6;
}
.rt4{
    width: 174.78px;
height: 0px;
border: 2px solid #FFFFFF;
}
.rt5{
    width: 332.02px;
height: 85px;
font-weight: 600;
font-size: 56.4822px;
line-height: 85px;
letter-spacing: 0.05em;
text-transform: capitalize;
color: #FFFFFF;
}
.a7{
    grid-area: a7;
}
.a8{
    grid-area: a8;
}
.hh1{
    margin-top: 80px;
    margin-left: 150px;
    width: 332.02px;
height: 85px;
font-weight: 600;
font-size: 56.4822px;
line-height: 85px;
letter-spacing: 0.05em;
text-transform: capitalize;
color: #FFFFFF;
font-family: 'Poppins', sans-serif;
}
.hh2{
    margin-top: 0px;
    margin-left: 150px;
    width: 478.01px;
height: 0px;
border:2px  solid #FFFFFF;
transform: rotate(-0.47deg);
background-color: white;
}
.hh3{
    margin-top: 40px;
    margin-left: 110px;
    display: flex;
    list-style: none;
}
.hh4{
    width: 117px;
height: 44px;
font-weight: 600;
font-size: 29.5477px;
line-height: 44px;
letter-spacing: 0.05em;
text-transform: capitalize;
color: #FFFFFF;
font-family: 'Poppins', sans-serif;
}
.hh5{
    margin-top: 20px;
    margin-left: 290px;
    width: 50px;
height: 22px;
font-weight: 600;
font-size: 14.5071px;
line-height: 22px;
letter-spacing: 0.05em;
text-transform: capitalize;
color: #FFFFFF;
font-family: 'Poppins', sans-serif;
}
.hh6{
    margin-top: 0px;
    margin-left: 150px;
    width: 488.42px;
height: 24.3px;
background: linear-gradient(90deg, #3C1DFF 18.63%, #14C9C9 78.88%);
border-radius: 50px;
}
.hh10{
    margin-top: 40px;
    margin-left: 110px;
    display: flex;
    list-style: none;
}
.hh7{
    width: 111px;
height: 44px;
font-weight: 600;
font-size: 29.5477px;
line-height: 44px;
letter-spacing: 0.05em;
text-transform: capitalize;
color: #FFFFFF;
font-family: 'Poppins', sans-serif;
}
.hh8{
    margin-top: 20px;
    margin-left: 140px;
    width: 42px;
height: 22px;
font-weight: 600;
font-size: 14.5071px;
line-height: 22px;
letter-spacing: 0.05em;
text-transform: capitalize;
color: #FFFFFF;
font-family: 'Poppins', sans-serif;
}
.hh9{
    margin-top: 0px;
    margin-left: 150px;
    width: 327.9px;
height: 24.3px;
background: linear-gradient(90deg, #3C1DFF 18.63%, #14C9C9 78.88%);
border-radius: 50px;
}
.aqw{
    margin-top: 30px;
    margin-left: 150px;
}
.klkl{
    display: flex;
}
.lk1{
    margin-top: 35px;
    margin-left: 50px;
    width: 281px;
height: 44px;
font-weight: 600;
font-size: 29.5477px;
line-height: 44px;
letter-spacing: 0.05em;
text-transform: capitalize;
font-family: 'Poppins', sans-serif;
color: #FFFFFF;
}
.lk2{
    margin-left: 50px;
    width: 100px;
height: 27px;
font-weight: 300;
font-size: 18.1936px;
line-height: 27px;
letter-spacing: 0.05em;
text-transform: capitalize;
font-family: 'Poppins', sans-serif;
color: #E3E1E1;
}
.a9{
    margin-left: 90px;
    grid-area: a9;
    width: 700px;
font-weight: 600;
font-size: 30px;
line-height: 85px;
letter-spacing: 0.05em;
text-transform: capitalize;
font-family: 'Poppins', sans-serif;
color: #FFFFFF;
}
.b1{
    grid-area: b1;
    background-image: url(./unsplash_glRqyWJgUeY.png);
    background-size: cover;
    width: 603px;
    height: 454px;
    margin-left: 80px;
    margin-bottom: 20px;
}
.b2{
    margin-bottom: 20px;
    grid-area: b2;
    text-align: center;
}
.b3{
    grid-area: b3;
    text-align: center;
    margin-bottom: 20px;
}
.b4{
    margin-bottom: 20px;
    grid-area: b4;
    text-align: center;
}
.y1{
    margin-top: 330px;
    margin-left: 60px;
font-weight: 600;
font-size: 25.7647px;
line-height: 39px;
letter-spacing: 0.05em;
text-transform: capitalize;
font-family: 'Poppins', sans-serif;
color: #FFFFFF;
}
.y2{
    margin-left: 60px;
    width: 90px;
height: 21px;
font-weight: 600;
font-size: 14.1642px;
line-height: 21px;
letter-spacing: 0.05em;
text-transform: capitalize;
font-family: 'Poppins', sans-serif;
color: #FFFFFF;
}
.y3{
    margin-left: 60px;
    width: 69px;
height: 18px;
font-weight: 600;
font-size: 12.2427px;
line-height: 18px;
letter-spacing: 0.05em;
text-transform: capitalize;
font-family: 'Poppins', sans-serif;
color: #FFFFFF;
}
.b5{
    margin-top: 150px;
    grid-area: b5;
    text-align: center;
    margin-bottom: 100px;
}
.j1{
font-weight: 600;
font-size: 56.4822px;
line-height: 85px;
letter-spacing: 0.05em;
text-transform: capitalize;
font-family: 'Poppins', sans-serif;
color: #FFFFFF;
}
.j2{
    font-weight: 400;
font-size: 19.1205px;
line-height: 29px;
letter-spacing: 0.05em;
text-transform: capitalize;
font-family: 'Poppins', sans-serif;
color: #9E9E9E;
}
.j3{margin-top: 20px;
    width: 340.56px;
height: 82.89px;
background: linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%);
border-radius: 10px;
font-weight: 400;
font-size: 25.4046px;
line-height: 38px;
letter-spacing: 0.05em;
text-transform: capitalize;
font-family: 'Poppins', sans-serif;
color: #FFFFFF;
}